// .card {
//     padding: 4px;

//     .card-header {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       min-height: 30px;
//       margin-bottom: -1px;
//       padding: 10px 20px;
//       color: rgba(0, 0, 0, 0.88);
//       font-weight: 600;
//       font-size: 16px;
//       background: transparent;
//       border-bottom: 1px solid #f0f0f0;
//       border-radius: 8px 8px 0 0;
//     }

//   }



.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  background: #fff;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .card-img-top {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #f0f0f0;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
  }

  .card-body {
    padding: 16px;
    font-size: 14px;
    color: #333;
  }

  .card-footer {
    padding: 12px 16px;
    font-size: 13px;
    border-top: 1px solid #f0f0f0;
    background: #2c2b2b;
    color: #fff;
  }
}

/*  Variants */
.card-primary {
  background: #a4c2e2;
  color: #fff;

  .card-footer {
    background: #5f6163;
    color: #fff;
  }
}

.card-secondary {
  background: #6c757d;
  color: #fff;
   .card-footer {
    background: #5f6163;
    color: #fff;
  }
}

.card-success {
  background: #96dfa7;
  color: #fff;
   .card-footer {
    background: #ddcddf;
    color: #000;
  }
}

.card-danger {
  background: #d49aa0;
  color: #fff;
   .card-footer {
    background: #d1cdb3;
    color: #000;
  }
}

.card-warning {
  background: #c5b892;
  color: #212529;
   .card-footer {
    background: #5f6163;
    color: #000;
  }
}

.card-info {
  background: #b4cdd1;
  color: #fff;
   .card-footer {
    background: #5f6163;
    color: #fff;
  }
}
