.confirmation__custom__modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
  
    h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: #2A2354;
    }
  
    .confirmation__custom__modal__content {
      color: #777C85;
      font-size: 12px
    }
  }
  